<?xml version="1.0" encoding="UTF-8"?>  
<beans xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"  
    xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"  
    xsi:schemaLocation="http://www.springframework.org/schema/beans  
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd  
           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd  
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd  
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">  
  
    <!-- 开启通过注释进行事务配置    -->  
    <context:annotation-config />
    <!-- 开启通过注释进行组件注入   -->  
    
    <context:component-scan base-package="com.itucity.tripwiki" />
      
    <!-- 加载属性文件 -->  
    <context:property-placeholder location="classpath:db.properties"/>
    <bean id="propertyConfigurer"
        class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="systemPropertiesModeName" value="SYSTEM_PROPERTIES_MODE_OVERRIDE" />
        <property name="ignoreResourceNotFound" value="true" />  
        <property name="locations">
        	<list>
            	<value>classpath:db.properties</value>
            	<value>file:C:/Users/gdw/git/tripwiki/tripwiki Maven Webapp/src/main/config/db.properties</value>
             </list>  
        </property>
    </bean>
    
    <!-- 配置数据源 -->
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">  
    	<property name="driverClassName" value="${db.driver}" />  
    	<property name="url" value="${db.url}" />  
    	<property name="username" value="${db.username}"></property>
        <property name="password" value="${db.password}"></property>
	</bean>  
    
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource" /> 
    </bean>
    
    <!-- 使用注解方式的事务    -->  
    <tx:annotation-driven transaction-manager="transactionManager" />
    
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="configLocation" value="classpath:mybatis-configuration.xml"></property>
        <property name="dataSource" ref="dataSource" />
        <!-- 该配置文件用来指定Mapper映射文件的位置 ，如果映射文件与相应的接口同名，且在同一路径下，那么可以不配置该选项-->  
        <property name="mapperLocations"  
              value="classpath*:com/itucity/tripwiki/mybatis/mappers/*.xml" /> 
    </bean>
    
    <bean id="sqlSessionTemplate" class="org.mybatis.spring.SqlSessionTemplate">
    	<constructor-arg index="0" ref="sqlSessionFactory" />
    </bean>
    
    <bean id="demoService" class="com.itucity.tripwiki.jersey.RestDemoServiceImpl" />
      
    <!-- 这里的mapperInterface需要接口类型    -->
    <bean id="userDao" class="org.mybatis.spring.mapper.MapperFactoryBean">  
        <property name="mapperInterface" value="com.itucity.tripwiki.mybatis.mappers.UserDao" />  
        <property name="sqlSessionFactory" ref="sqlSessionFactory" />  
    </bean>
      
    
</beans> 